<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      A second page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="menu-card">
    <ion-card-header>
      <ion-card-subtitle>A clumsy attempt</ion-card-subtitle>
      <ion-card-title>At a menu</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="assets/red.jpg" alt="tree" style="margin-bottom: 24px;"></ion-img>
      <p style="margin-bottom: 25px;">I think I'll be putting an ion item list below here.</p>
  
      <ion-list>
        <ion-item href="/alt-page">
          <ion-icon name="flash-outline" style="margin-right: 5px; color: #ffe066;"></ion-icon>
          <ion-label>Pokémon Yellow</ion-label>
        </ion-item>
        <ion-item href="/home">
          <ion-icon name="color-filter-outline" style="margin-right: 5px; color: #f25f5c;"></ion-icon>
          <ion-label>Mega Man X</ion-label>
        </ion-item>
        <ion-item href="/full-firebase-page">
          <ion-icon name="leaf-outline" style="margin-right: 5px; color: #70c1b3;"></ion-icon>
          <ion-label>The Legend of Zelda</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
